#canvas {
    background-color: #FFF;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    position: static; /* fixed or static */
    top: 0;
    left: 0px;
}

body {
    background: #000;
    margin: 0;
    overflow: hidden;
}



@import "compass/css3";

* {box-sizing: border-box;}

body {
  padding: 20px;
}

ul {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: scroll;
  margin: 0;
  padding: 0;
  
  border: 2px solid #ccc;
  
  font-size: 16px;
  font-family: Arial, sans-serif;
  
  // Again, this is where the magic happens
  -webkit-overflow-scrolling: touch;
}

li {
  padding: 10px 20px;
  
  border-bottom: 1px solid #ccc;
  
  &:last-child {
    border-bottom: none;
  }
  
  &:nth-child(even) {
    background: #f8f8f8;
  }
}